<header>
	<div class="cover">
		<img src="{{data.images[0].url}}" width="200" align="left" />
	</div>

	<h4>{{data.album_type}}</h4>
	<h1>{{data.name}}</h1>

	<div class="buttons">
		<a ng-click="playall()" class="button green">PLAY ALL</a>
	</div>
</header>

<hr/>
<p>
	By <a href="#/artists/{{data.artists[0].id}}">{{data.artists[0].name}}</a>
	&middot;
	{{release_year}}
	&middot;
	{{data.tracks.total}} Songs
	&middot;
	{{total_duration}} Total ms.
</p>
<hr/>

<p># SONG TIME POPULARITY</p>
<ul class="discs">
	<li ng-repeat="d in discs">
		DISC {{ d.disc_number }} / {{ num_discs }}
		<ul class="tracks">
			<li ng-repeat="t in d.tracks" ng-class="{ playing: (t.uri == currenttrack) }">
				#{{t.track_number}}

				<a ng-click="play(t.uri)">{{t.name}}</a>
				&nbsp;-&nbsp;
				<a href="#/artists/{{t.artists[0].id}}">{{t.artists[0].name}}</a>

				({{t.duration_ms}} ms. long)
			</li>
		</ul>
	</li>
</ul>

<!--

<p>(C) (P) info</p>

<p>More by...</p>

<hr/>

<hr/>

<p>POPULARITY</p>
<p>{trackname} - {artists}</p>
-->
