<header>
	<div class="cover">
		<responsive-cover ng-model="data.images"></responsive-cover>
	</div>

	<h4 ng-show="data.album_type == 'single'">Single</h4>
	<h4 ng-show="data.album_type == 'album'">Album</h4>
	<h4 ng-show="data.album_type == 'compilation'">Compilation</h4>
	<h1>{{data.name}}</h1>

	<div class="buttons">
		<a ng-click="playall()" class="button green">PLAY ALL</a>
	</div>
</header>

<hr/>
<p>
	By <a href="#/artists/{{data.artists[0].id}}">{{data.artists[0].name}}</a>
	&middot;
	{{release_year}}
	&middot;
	{{data.tracks.total}} Songs
	&middot;
	Total {{total_duration | displaytime}}
</p>
<hr/>
<br/>

<div class="discs">
	<div ng-repeat="d in discs">
		<p ng-show="num_discs > 1">
			CD {{ d.disc_number }}
		</p>
		<table class="tracks">
			<thead>
				<th>#</th>
				<th></th>
				<th>TRACK</th>
				<th>TIME</th>
				<th>POPULARITY</th>
			</thead>
			<tbody>
				<tr ng-repeat="t in tracks" ng-class="{ playing: (t.uri == currenttrack) }">
					<td>{{t.track_number}}</td>
					<td>
						<button ng-click="toggleFromYourMusic($index)"> {{ t.inYourMusic ? '-' : '+' }} </button>
					</td>
					<td>
						<a ng-click="play(t.uri)">{{t.name}}</a>
					</td>
					<td>{{t.duration_ms | displaytime}}</td>
					<td>
						<div class="pop-meter">
							<div class="pop-meter-background"></div>
							<div class="pop-meter-overlay" style="width: {{ t.popularity }}%;"></div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<br/>

<hr/>

<!--

<p>(C) (P) info</p>

<p>More by...</p>

<hr/>

<hr/>

<p>POPULARITY</p>
<p>{trackname} - {artists}</p>
-->
