<header>
	<div class="cover">
		<img src="{{data.images[0].url}}" width="200" align="left" />
	</div>

	<h4>ARTIST</h4>
	<h1>{{data.name}}</h1>
	<p>Popular tracks</p>

	<div class="buttons">
		<a ng-click="playall()" class="button green">PLAY ALL</a>
	</div>
</header>

<hr/>

<h3>Popular tracks</h3>
<ul>
	<li ng-repeat="t in toptracks">
		#{{t.track_number}}

		<a ng-click="playtoptrack(t.uri)">{{t.name}}</a>
		&nbsp;-&nbsp;
		<a href="#/artists/{{t.artists[0].id}}">{{t.artists[0].name}}</a>

		({{t.duration_ms}} ms. long)

		<span ng-show="(t.uri == currenttrack)">*CURRENT*</span>
	</li>
</ul>

<hr/>

<h3>Discography</h3>
<ul class="albumblocks">
	<li ng-repeat="t in discog">
	<img src="{{t.images[0].url}}" width="50" />
		<a href="#/albums/{{t.id}}">{{t.name}}</a>
		&nbsp;-&nbsp;
		<a href="#/artists/{{t.artists[0].id}}">{{t.artists[0].name}}</a>
	</li>
</ul>
<hr/>

<!--

<br/>

<p>ID {{artist}}</p>

<hr/>

<h2>Missing functionality</h2>

<p><a href="#">PLAY FIRST THING</a></p>

<p><a href="#">FOLLOW/FOLLOWING</a></p>

<p>Latest release</p>

<p>Popular tracks</p>

<p>Related artists</p>

<p>Albums (list | covers)</p>

<p>Singles (list | covers)</p>

<p>Appears on (list | covers)</p>
-->
