<header>
	<div class="cover">
		<responsive-cover ng-model="data.images"></responsive-cover>
	</div>

	<h4>ARTIST</h4>
	<h1>{{data.name}}</h1>
	<div class="follower-count">{{data.followers.total | number}} followers</div>

	<div class="buttons">
		<a ng-click="playall()" class="button green">PLAY ALL</a>
		<a ng-click="follow(isFollowing)" ng-mouseover="isFollowHovered=true" ng-mouseout="isFollowHovered=false" class="button button-add"><span>{{ isFollowing ? (isFollowHovered ? 'UNFOLLOW' : 'FOLLOWING') : 'FOLLOW' }}</span></a>
	</div>
</header>

<hr/>
<br/>

<h3>Popular tracks</h3>
<table class="tracks">
	<thead>
		<th>#</th>
		<th></th>
		<th>SONG</th>
		<th>ALBUM</th>
		<th>TIME</th>
	</thead>
	<tbody>

		<tr ng-repeat="t in toptracks" ng-class="{ playing: (t.uri == currenttrack) }">
			<td>{{$index + 1}}</td>
			<td>
				<button ng-click="toggleFromYourMusic($index)"> {{ t.inYourMusic ? '-' : '+' }} </button>
			</td>
			<td><a ng-click="playtoptrack(t.uri)">{{t.name}}</a></td>
			<td><a href="#/albums/{{t.album.id}}">{{t.album.name}}</a></td>
			<td>{{t.duration_ms | displaytime}}</td>
		</tr>
	</tbody>
</table>

<hr/>
<br/>

<div ng-show="albums.length > 0">
	<h3>Albums</h3>
	<ul class="albums">
		<li ng-repeat="t in albums">
			<a href="#/albums/{{t.id}}">
				<responsive-cover ng-model="t.images"></responsive-cover>
			</a>
			<p>
				<b><a href="#/albums/{{t.id}}">{{t.name}}</a></b>
			</p>
		</li>
	</ul>
	<hr/>
	<br/>
</div>

<div ng-show="singles.length > 0">
	<h3>Singles</h3>
	<ul class="albums">
		<li ng-repeat="t in singles">
			<a href="#/albums/{{t.id}}">
				<responsive-cover ng-model="t.images"></responsive-cover>
			</a>
			<p>
				<b><a href="#/albums/{{t.id}}">{{t.name}}</a></b>
			</p>
		</li>
	</ul>
	<hr/>
	<br/>
</div>

<div ng-show="appearson.length > 0">
	<h3>Appears on</h3>
	<ul class="albums">
		<li ng-repeat="t in appearson">
			<a href="#/albums/{{t.id}}">
				<responsive-cover ng-model="t.images"></responsive-cover>
			</a>
			<p>
				<b><a href="#/albums/{{t.id}}">{{t.name}}</a></p>
			</p>
		</li>
	</ul>
	<hr/>
	<br/>
</div>

<!--

<br/>

<p>ID {{artist}}</p>

<hr/>

<h2>Missing functionality</h2>

<p><a href="#">PLAY FIRST THING</a></p>

<p><a href="#">FOLLOW/FOLLOWING</a></p>

<p>Latest release</p>

<p>Popular tracks</p>

<p>Related artists</p>

<p>Albums (list | covers)</p>

<p>Singles (list | covers)</p>

<p>Appears on (list | covers)</p>
-->
