<generic-header ng-model="data" followable="true" playable="true">
</generic-header>
<div class="container">
	<div class="row">
		<div class="col-md-4">
			<input class="form-control" placeholder="Filter" type="search" style="width: 100%" ng-model="q">
		</div>
	</div>
</div>
<div class="container">
<table class="tracks">
	<thead>
		<th></th>
		<th></th>
		<th></th>
		<th>TRACK</th>
		<th>ARTIST</th>
		<th>ALBUM</th>
		<th>ADDED</th>
		<th>TIME</th>
		<th ng-if="data.collaborative">USER</th>
	</thead>
	<tbody>
		<tr ng-if="tracks.length < 1">
			<td colspan="9">No results for '{{q}}'</td>
		</tr>
		<tr ng-repeat="t in tracks | filter:q" ng-dblclick="play(t.track.uri)" ng-class="{ playing: (t.track.uri == currenttrack) }" ng-context-menu="menuOptionsPlaylistTrack(t, $index)">
			<td>
				<img width="64pt" src="{{t.track.album.images[0].url}}">
			</td>
			<td>
				{{ $index + 1 }}
			</td>
			<td>
				<button ng-click="toggleFromYourMusic($index)"> {{ t.track.inYourMusic ? '-' : '+' }} </button>
			</td>
			<td>
				<a href="/track/{{t.track.id}}">{{t.track.name}}</a>
			</td>
			<td>
				<a href="/artists/{{t.track.artists[0].id}}">{{t.track.artists[0].name}}</a>
			</td>
			
			<td>
				<a href="/albums/{{t.track.album.id}}">{{t.track.album.name}}</a>
			</td>
			<td  class="nowrap">
				{{t.added_at | timeago}}
			</td>
			<td  class="nowrap" ng-if="data.collaborative">
				<a href="/users/{{t.added_by.id}}">{{t.added_by.id}}</a>
			</td>
			<td class="nowrap" style="text-align: right">
				{{ t.track.duration_ms | displaytime }}
			</td>
		</tr>
	</tbody>
</table>
<br/>

<hr/>
</div>

<!--

<hr/>

<h2>Missing functionality</h2>

<p>Mosaic</p>

<p><a href="#">PLAY FIRSTT THING</a></p>

<p><a href="#">FOLLOW/FOLLOWING</a></p>

-->
