<generic-header ng-model="data" followable="true" playable="true">
</generic-header>

<div class="container">
<table class="tracks">
	<thead>
		<th></th>
		<th>TRACK</th>
		<th>ARTIST</th>
		<th>TIME</th>
		<th>ALBUM</th>
		<th>ADDED</th>
		<th ng-if="data.collaborative">USER</th>
	</thead>
	<tbody>
		<tr ng-repeat="t in tracks" ng-class="{ playing: (t.track.uri == currenttrack) }" ng-context-menu="menuOptionsPlaylistTrack(t, $index)">
			<td ng-dblclick="play(t.track.uri)" >
				<button ng-click="toggleFromYourMusic($index)"> {{ t.track.inYourMusic ? '-' : '+' }} </button>
			</td>
			<td ng-dblclick="play(t.track.uri)" >
				<a >{{t.track.name}}</a>
			</td>
			<td ng-dblclick="play(t.track.uri)" >
				<a href="/artists/{{t.track.artists[0].id}}">{{t.track.artists[0].name}}</a>
			</td>
			<td ng-dblclick="play(t.track.uri)" class="nowrap" style="opacity: 0.5">
				{{ t.track.duration_ms | displaytime }}
			</td>
			<td ng-dblclick="play(t.track.uri)" >
				<a href="/albums/{{t.track.album.id}}">{{t.track.album.name}}</a>
			</td>
			<td ng-dblclick="play(t.track.uri)" class="nowrap" style="opacity: 0.5">
				{{t.added_at | timeago}}
			</td>
			<td ng-dblclick="play(t.track.uri)" class="nowrap" ng-if="data.collaborative">
				<a href="/users/{{t.added_by.id}}">{{t.added_by.id}}</a>
			</td>
		</tr>
	</tbody>
</table>
<br/>

<hr/>
</div>

<!--

<hr/>

<h2>Missing functionality</h2>

<p>Mosaic</p>

<p><a href="#">PLAY FIRSTT THING</a></p>

<p><a href="#">FOLLOW/FOLLOWING</a></p>

-->
