<generic-header ng-model="data" followable="true" playable="true"></generic-header>
<div class="container">
<h3>Episodes</h3>
<table class="tracks episodes">
	<thead>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
	</thead>
	<tbody>
		<tr ng-repeat="t in episodes" ng-dblclick="play(t.uri)"  ng-class="{ playing: (t.episode.uri == currenttrack) }" ng-context-menu="menuOptionsPlaylistTrack(t, $index)">
			<td width="96" valign="top" style="padding-right: 20pt">
				<div ng-if="t.episode.images && t.episodes.images.length > 0">
					<img src="{{t.episode.images[0].url}}" width="96" />
				</div>
				<div ng-if="!(t.episode.images && t.episodes.images.length > 0)">
					<img src="{{data.images[0].url}}" width="96" />
				</div>
			</td>
			<td ng-dblclick="play(t.uri)" >
				<h3 ng-click="play(t.uri)">
				<a href="/episode/{{t.id}}">{{t.name}}</a>
				</h3>
				<p style="opacity: 0.5">{{t.description}}</p>
			</td>
			<td width="30%">
				<progress min="0" max="100" value="50" style="width: 100%"></progress>
			</td>
			<td width="200pt" valign="top">
				<p style="opacity: 0.3">Published <a>{{t.release_date | timeago}}</a></p>
			</td>
		</tr>
	</tbody>
</table>
<br/>

<hr/>
</div>

<!--

<hr/>

<h2>Missing functionality</h2>

<p>Mosaic</p>

<p><a href="#">PLAY FIRSTT THING</a></p>

<p><a href="#">FOLLOW/FOLLOWING</a></p>

-->
