<generic-header ng-model="data"></generic-header>
<div class="container">
<div ng-show="userplaylists.length > 0">
  <h2>Public Playlists</h2>
  <div class="row playlists ">
    <div class="col-md-3" ng-repeat="t in userplaylists">
      <a href="/playlists/{{t.id}}">
        <responsive-cover ng-model="t.images" class="responsive-cover-playlist"></responsive-cover>
      </a>
      <p>
        <b><a href="/playlists/{{t.id}}">{{t.name}}</a></b>
      </p>
    </div>
  </div>
  <hr/>
  <br/>
</div>
<div ng-show="playlistError !== null">
	<h2>There was an error retrieving playlists</h2>
	<div>Please try again later</div>
</div>
</div>
<!--
<hr/>

<h2>Missing functionality</h2>

<p>list of public playlists</p>
-->
