<html ng-app="PlayerApp">
	<head>
		<link rel="stylesheet" href="style.css" />
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,700' rel='stylesheet' type='text/css'>
		<script src="bower_components/angular/angular.js"></script>
		<script src="bower_components/angular-route/angular-route.js"></script>
		<script src="app.js"></script>
		<script src="services/auth.js"></script>
		<script src="services/api.js"></script>
		<script src="services/playback.js"></script>
		<script src="services/playqueue.js"></script>
		<script src="controllers/player.js"></script>
		<script src="controllers/login.js"></script>
		<script src="controllers/playlist.js"></script>
		<script src="controllers/home.js"></script>
		<script src="controllers/artist.js"></script>
		<script src="controllers/album.js"></script>
		<script src="controllers/user.js"></script>
		<script src="controllers/playqueue.js"></script>
		<script src="controllers/searchresults.js"></script>
	</head>
	<body ng-controller="AppController">
		<div class="fullview playerview" ng-show="showplayer">
			<div ng-controller="PlayerController">
				<div class="topgroup">
					<div class="searchbox">
						<input type="text" ng-model="query" ng-change="loadsearch()" ng-keyup="loadsearch()" placeholder="Search..." />
					</div>
					<div class="titlebox">
						<a href="#/home">SAMPLE PLAYER APPLICATION</a>
					</div>
					<div class="userbox">
						Signed in as <b><a href="#/users/{{username}}">{{username}}</a></b>
						<a ng-click="logout()">Log out</a>
					</div>
				</div>
				<div class="midgroup">
					<div class="menuview">
						<div class="scrollable">

							<b>MAIN</b>
							<ul class="menuitems">
								<li><a href="#/">Welcome</a></li>
								<li><a href="#/playqueue">Play Queue</a></li>
							</ul>
							<br/>

							<b><a href="#/me">YOUR MUSIC</a></b>
							<ul class="menuitems">
								<li ng-repeat="pl in playlists track by pl.id"><a href="#/users/{{pl.username}}/playlists/{{pl.id}}">{{pl.name}}</a></li>
							</ul>

						</div>
						<div class="preview">
							<a href="#/albums/{{trackdata.album.id}}">
								<img ng-src="{{trackdata.album.images[0].url}}" width="200" height="200" />
							</a>
							<p>
								<b>{{trackdata.name}}</b><br/>

								<a href="#/artists/{{trackdata.artists[0].id}}">
									{{trackdata.artists[0].name}}
								</a>
							</p>
						</div>
					</div>
					<div class="mainview">
						<div ng-view></div>
					</div>
				</div>
				<div class="bottomgroup">
					<div class="leftcontrols">
						<a ng-click="prev()">&lt;&lt;</a>
						&nbsp;
						<a ng-click="resume()" ng-hide="playing">|&gt;</a>
						<a ng-click="pause()" ng-show="playing">[ ]</a>
						&nbsp;
						<a ng-click="next()">&gt;&gt;</a>
						&nbsp;
						<input type="range" style="width:100px;" ng-change="changevolume()" min="0" max="100" ng-model="volume" />
					</div>
					<div class="seekcontrols">
						<input type="range" ng-model="progress" ng-change="changeprogress()" min="0" max="{{duration}}" />
					</div>
					<div class="rightcontrols">
						<!--
						a ng-click="shuffle()">SHUF</a>
						a ng-click="repeat()">REP.</a>
						-->
					</div>
				</div>
			</div>
		</div>

		<div class="fullview loginview" ng-show="showlogin">
			<div ng-controller="LoginController">
				<div class="centered">
					<div class="inner">
						<h1>Spotify Web API Player Demo</h1>
						<p>
							To view this demo you need to sign in with your spotify account.
						</p>
						<a ng-click="login()" class="button big green">login</a>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
